/**
 * @name Dark Matter
 * @author Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('https://raw.githubusercontent.com/theDivinePenguin/idkrvrv/refs/heads/main/baseee.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://imgur.com/a/lsd175l');
    --home-image: url('https://i.imgur.com/233d55Y.gif');
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}
